

<div class="container mb-3 p-2">
  <div class="d-flex align-items-center justify-content-between">
    <h1>Recipes</h1>
    <%= link_to "New Recipe", new_recipe_path, class: 'btn btn-secondary' %>
</div>

  <div>
    <% @recipes.each do |recipe| %>
      <%= link_to recipe_path(recipe), class: "text-decoration-none text-dark" do %>
          <%= render recipe %>
      <% end %>
    <% end %>
  </div>
  
</div>