<h1 class="text-center mt-3">Public Recipes</h1>
<div>
  <% if @recipes %>
    <% @recipes.each do |recipe| %>
      <%= render "public_recipes", recipe: recipe %>
    <% end %>
  <% else %>
    <p>No public recipes found</p>
  <% end %>
</div>