/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Set up the overall header container */
header {
  background-color: gainsboro;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* Set up the logo container */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Set up the navigation container */
nav {
  display: flex;
  align-items: center;
}

/* Set up the navigation links */
nav a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
}
